

<div class="container">
  <div class="row">
    <ul class='list-inline'>
      <li>{{link-to "User" "users"}}</li>
      <li>{{link-to "Categories" "categories"}}</li>
      <li>{{link-to "Expenses" "expenses"}}</li>
      <li>{{link-to "Sign Up" "signup"}}</li>
      {{#if session.isAuthenticated}}
        <li><button class="btn btn-primary btn-sm" {{action "logout"}}>Logout</button></li>
      {{else}}
        <li>{{link-to 'Login' 'login'}}</li>
      {{/if}}
      <li>Spendr</li>
    </ul>

    {{#if currentUser}}
   <li class="active">
     <a href="#">Hi, {{currentUser.name}}</a>
   </li>
   {{/if}}

  </div>
  {{outlet}}
</div>
