<h2 id="title">Welcome to Ember</h2>

<li>{{link-to "User" "users"}}</li>
<li>{{link-to "Categories" "categories"}}</li>
<li>{{link-to "Expenses" "expenses"}}</li>

{{#if session.isAuthenticated}}
  <li>Log Out</li>
{{else}}
  <li>{{link-to 'Log In' 'login'}}</li>
{{/if}}

{{outlet}}
