{{outlet}}

<h3>Expenses:</h3>
<div class="container">
	<div class="row">
		<ul class="list-inline">
			{{#each model as |expense|}}
			 <li><button {{action 'delete' expense}} class="btn btn-default">Delete</button></li>
			<li>
			  ${{expense.amount}} for {{expense.note}}
			</li><br><br>
	  {{/each}}
		</ul>
	</div>
</div>


<p>
	Total expenses: 
</p>

<p>
	{{link-to "Add a new expense!" "expenses.new"}}
</p>
