{{outlet}}

<h3>Expenses:</h3>
<div class="container">
	<div class="row">
		<ul class="list-inline">
			{{#each model as |expense|}}
			 <li><button {{action 'delete' expense}} class="btn btn-primary btn-xs">Delete</button></li>
			<li>
			  $<span id="expense-amount">{{expense.amount}}</span> for {{expense.note}}
			</li><br><br>
	  {{/each}}
		</ul>
	</div>
</div>


<p id="total">
	Total Expenses: {{model.total}}
</p>

<p>
	{{link-to "Add a new expense!" "expenses.new"}}
</p>
