<h2>Sign Up</h2>

<form {{action 'createUser' on="submit"}}>
  <label for="identification">Username:</label>
  {{input id='identification' placeholder='Username' value=userName type="username"}}<br>

  <label for="identification">Monthly Salary:</label>
  {{input id='monthly_salary' placeholder='Monthly Salary' value=monthly_salary type="monthly_salary"}}<br>

  <label for="password">Password:</label>
  {{input id='password' placeholder='Password' type='password' value=password}}<br>

  <label for="password_confirmation">Password Confirmation:</label>
  {{input id='password_confirmation' placeholder='Password Confirmation' type='password' value=password_confirmation}}<br>
  <button type="submit">Sign up</button>
</form>
